FrontEnd/Connected Services/ServiceReference1/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:54298/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfDonation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Donation" nillable="true" type="tns:Donation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDonation" nillable="true" type="tns:ArrayOfDonation" />
  <xs:complexType name="Donation">
    <xs:sequence>
      <xs:element minOccurs="0" name="Branch" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DonationId" type="xs:int" />
      <xs:element minOccurs="0" name="Donor" nillable="true" type="tns:Donor" />
      <xs:element minOccurs="0" name="DonorID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Monatery" type="xs:boolean" />
      <xs:element minOccurs="0" name="Pickup" type="xs:boolean" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Donation" nillable="true" type="tns:Donation" />
  <xs:complexType name="Donor">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Contact" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Donations" nillable="true" type="tns:ArrayOfDonation" />
      <xs:element minOccurs="0" name="DonorID" type="xs:int" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Surname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Usertype" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Donor" nillable="true" type="tns:Donor" />
  <xs:complexType name="ArrayOfAnimal">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Animal" nillable="true" type="tns:Animal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAnimal" nillable="true" type="tns:ArrayOfAnimal" />
  <xs:complexType name="Animal">
    <xs:sequence>
      <xs:element minOccurs="0" name="Age" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AnimalID" type="xs:int" />
      <xs:element minOccurs="0" name="ApproxAge_Year" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Breed" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Intake_Number" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sex" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Size" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sterilised" nillable="true" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Animal" nillable="true" type="tns:Animal" />
  <xs:complexType name="ArrayOfEmployee">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Employee" nillable="true" type="tns:Employee" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmployee" nillable="true" type="tns:ArrayOfEmployee" />
  <xs:complexType name="Employee">
    <xs:sequence>
      <xs:element minOccurs="0" name="Contact" type="xs:long" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmployeeID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Surname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Volunteer" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Employee" nillable="true" type="tns:Employee" />
  <xs:complexType name="ArrayOfCampaign">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Campaign" nillable="true" type="tns:Campaign" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCampaign" nillable="true" type="tns:ArrayOfCampaign" />
  <xs:complexType name="Campaign">
    <xs:sequence>
      <xs:element minOccurs="0" name="CampaignId" type="xs:int" />
      <xs:element minOccurs="0" name="DateFrom" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateTo" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fundraiser" type="xs:boolean" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OnlineEvent" type="xs:boolean" />
      <xs:element minOccurs="0" name="TimeFrom" nillable="true" type="ser:duration" />
      <xs:element minOccurs="0" name="TimeTo" nillable="true" type="ser:duration" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Campaign" nillable="true" type="tns:Campaign" />
</xs:schema>