FrontEnd/Connected Services/ServiceReference2/Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:54298/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:import schemaLocation="http://localhost:54298/Service.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="Registered">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisteredResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegisteredResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Register">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="surname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="usertype" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contact" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegisterResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userid" type="xs:int" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="surname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="usertype" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contact" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="editUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDonorDonations">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DonorID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDonorDonationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getDonorDonationsResult" nillable="true" type="q1:ArrayOfDonation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getUserResult" nillable="true" type="q2:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserB">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getUserBResult" nillable="true" type="q3:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCampaign">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CampaignID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCampaignResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getCampaignResult" nillable="true" type="q4:Campaign" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDonation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DonationID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDonationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getDonationResult" nillable="true" type="q5:Donation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDonation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="donorid" type="xs:int" />
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="image" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pickupdate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pickupaddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="quantity" type="xs:int" />
        <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDonationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddDonationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editDonation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="donationid" type="xs:int" />
        <xs:element minOccurs="0" name="donorid" type="xs:int" />
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="image" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pickupdate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pickupaddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="quantity" type="xs:int" />
        <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editDonationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="editDonationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllDonations">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllDonationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getAllDonationsResult" nillable="true" type="q6:ArrayOfDonation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllRequests">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllRequestsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getAllRequestsResult" nillable="true" type="q7:ArrayOfDonation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllApproved">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllApprovedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getAllApprovedResult" nillable="true" type="q8:ArrayOfDonation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getFrequestDonors">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getFrequestDonorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getFrequestDonorsResult" nillable="true" type="q9:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllUsers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getAllUsersResult" nillable="true" type="q10:ArrayOfUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDonors">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getDonorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getDonorsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAdmins">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAdminsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getAdminsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDrivers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getDriversResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getDriversResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCampaigns">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getCampaignsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getCampaignsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="countAllDonations">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="countAllDonationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="countAllDonationsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="countAllFrequentDonors">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="countAllFrequentDonorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="countAllFrequentDonorsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="bestDonor">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="bestDonorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bestDonorResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="countbestdonations">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="countbestdonationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="countbestdonationsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="countDonorDonations">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="countDonorDonationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="countDonorDonationsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="countClothesDonations">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="countClothesDonationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="countClothesDonationsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="countFoodDonations">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="countFoodDonationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="countFoodDonationsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllAdmin">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllAdminResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getAllAdminResult" nillable="true" type="q11:ArrayOfUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllDonors">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllDonorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getAllDonorsResult" nillable="true" type="q12:ArrayOfUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCampaign">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="datefrom" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dateto" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fundraiser" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="location" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCampaignResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddCampaignResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editCampaign">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="campaignid" type="xs:int" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="datefrom" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dateto" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fundraiser" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="location" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editCampaignResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="editCampaignResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllCampaigns">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllCampaignsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getAllCampaignsResult" nillable="true" type="q13:ArrayOfCampaign" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="collecteddonations">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="collecteddonationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="collecteddonationsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="clothesdonationspermonth">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="clothesdonationspermonthResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="clothesdonationspermonthResult" nillable="true" type="q14:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="fooddonationspermonth">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="fooddonationspermonthResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="fooddonationspermonthResult" nillable="true" type="q15:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="donationsperyear">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="donationsperyearResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="donationsperyearResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="scheduledriver">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="donationid" type="xs:int" />
        <xs:element minOccurs="0" name="driverid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="scheduledriverResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="scheduledriverResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="drivertasks">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="driverid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="drivertasksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="drivertasksResult" nillable="true" type="q16:ArrayOfSchedule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="saveimage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="path" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="saveimageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="saveimageResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="returnimage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="returnimageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="returnimageResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="returnrandomstring">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="returnrandomstringResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="returnrandomstringResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>