FrontEnd/Connected Services/ServiceReference2/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDonation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Donation" nillable="true" type="tns:Donation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDonation" nillable="true" type="tns:ArrayOfDonation" />
  <xs:complexType name="Donation">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DonationID" type="xs:int" />
      <xs:element minOccurs="0" name="DonationType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DonorID" type="xs:int" />
      <xs:element minOccurs="0" name="Image" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PickupAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PickupDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Donation" nillable="true" type="tns:Donation" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="Adress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Contact" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Surname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserID" type="xs:int" />
      <xs:element minOccurs="0" name="Usertype" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="Campaign">
    <xs:sequence>
      <xs:element minOccurs="0" name="CampaignID" type="xs:int" />
      <xs:element minOccurs="0" name="Date_from" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Date_to" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fundraiser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Campaign" nillable="true" type="tns:Campaign" />
  <xs:complexType name="ArrayOfUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUser" nillable="true" type="tns:ArrayOfUser" />
  <xs:complexType name="ArrayOfCampaign">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Campaign" nillable="true" type="tns:Campaign" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCampaign" nillable="true" type="tns:ArrayOfCampaign" />
  <xs:complexType name="ArrayOfSchedule">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Schedule" nillable="true" type="tns:Schedule" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSchedule" nillable="true" type="tns:ArrayOfSchedule" />
  <xs:complexType name="Schedule">
    <xs:sequence>
      <xs:element minOccurs="0" name="DonationID" type="xs:int" />
      <xs:element minOccurs="0" name="DriverID" type="xs:int" />
      <xs:element minOccurs="0" name="TaskID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Schedule" nillable="true" type="tns:Schedule" />
</xs:schema>