FrontEnd/Connected Services/DataRef/AccessServiceAPI.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AddAnimal">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intakenumber" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="breed" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="sex" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="approxage" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="age" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="sterilised" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="size" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddAnimalResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddAnimalResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddCampaign">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="datefrom" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="dateto" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="online" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="fundraiser" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="location" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="timeto" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="timefrom" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddCampaignResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddCampaignResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddEmployee">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="surname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="contactnumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="volunteer" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddEmployeeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddEmployeeResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAllAnimals">
        <s:complexType />
      </s:element>
      <s:element name="getAllAnimalsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAllAnimalsResult" type="tns:ArrayOfAnimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAnimal">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Animal" nillable="true" type="tns:Animal" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Animal">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="AnimalID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Intake_Number" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Breed" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Sex" nillable="true" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="ApproxAge_Year" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Age" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Sterilised" nillable="true" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Size" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="getAllCampaigns">
        <s:complexType />
      </s:element>
      <s:element name="getAllCampaignsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAllCampaignsResult" type="tns:ArrayOfCampaign" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCampaign">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Campaign" nillable="true" type="tns:Campaign" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Campaign">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CampaignId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DateFrom" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="DateTo" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="OnlineEvent" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="Fundraiser" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Location" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TimeTo" nillable="true" type="tns:TimeSpan" />
          <s:element minOccurs="1" maxOccurs="1" name="TimeFrom" nillable="true" type="tns:TimeSpan" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TimeSpan" />
      <s:element name="getAllEmployees">
        <s:complexType />
      </s:element>
      <s:element name="getAllEmployeesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAllEmployeesResult" type="tns:ArrayOfEmployee" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfEmployee">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Employee" nillable="true" type="tns:Employee" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Employee">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="EmployeeID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Surname" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Contact" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Volunteer" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddAnimalSoapIn">
    <wsdl:part name="parameters" element="tns:AddAnimal" />
  </wsdl:message>
  <wsdl:message name="AddAnimalSoapOut">
    <wsdl:part name="parameters" element="tns:AddAnimalResponse" />
  </wsdl:message>
  <wsdl:message name="AddCampaignSoapIn">
    <wsdl:part name="parameters" element="tns:AddCampaign" />
  </wsdl:message>
  <wsdl:message name="AddCampaignSoapOut">
    <wsdl:part name="parameters" element="tns:AddCampaignResponse" />
  </wsdl:message>
  <wsdl:message name="AddEmployeeSoapIn">
    <wsdl:part name="parameters" element="tns:AddEmployee" />
  </wsdl:message>
  <wsdl:message name="AddEmployeeSoapOut">
    <wsdl:part name="parameters" element="tns:AddEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="getAllAnimalsSoapIn">
    <wsdl:part name="parameters" element="tns:getAllAnimals" />
  </wsdl:message>
  <wsdl:message name="getAllAnimalsSoapOut">
    <wsdl:part name="parameters" element="tns:getAllAnimalsResponse" />
  </wsdl:message>
  <wsdl:message name="getAllCampaignsSoapIn">
    <wsdl:part name="parameters" element="tns:getAllCampaigns" />
  </wsdl:message>
  <wsdl:message name="getAllCampaignsSoapOut">
    <wsdl:part name="parameters" element="tns:getAllCampaignsResponse" />
  </wsdl:message>
  <wsdl:message name="getAllEmployeesSoapIn">
    <wsdl:part name="parameters" element="tns:getAllEmployees" />
  </wsdl:message>
  <wsdl:message name="getAllEmployeesSoapOut">
    <wsdl:part name="parameters" element="tns:getAllEmployeesResponse" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:portType name="AccessServiceAPISoap">
    <wsdl:operation name="AddAnimal">
      <wsdl:input message="tns:AddAnimalSoapIn" />
      <wsdl:output message="tns:AddAnimalSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddCampaign">
      <wsdl:input message="tns:AddCampaignSoapIn" />
      <wsdl:output message="tns:AddCampaignSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddEmployee">
      <wsdl:input message="tns:AddEmployeeSoapIn" />
      <wsdl:output message="tns:AddEmployeeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllAnimals">
      <wsdl:input message="tns:getAllAnimalsSoapIn" />
      <wsdl:output message="tns:getAllAnimalsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllCampaigns">
      <wsdl:input message="tns:getAllCampaignsSoapIn" />
      <wsdl:output message="tns:getAllCampaignsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllEmployees">
      <wsdl:input message="tns:getAllEmployeesSoapIn" />
      <wsdl:output message="tns:getAllEmployeesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AccessServiceAPISoap" type="tns:AccessServiceAPISoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddAnimal">
      <soap:operation soapAction="http://tempuri.org/AddAnimal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCampaign">
      <soap:operation soapAction="http://tempuri.org/AddCampaign" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddEmployee">
      <soap:operation soapAction="http://tempuri.org/AddEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllAnimals">
      <soap:operation soapAction="http://tempuri.org/getAllAnimals" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllCampaigns">
      <soap:operation soapAction="http://tempuri.org/getAllCampaigns" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllEmployees">
      <soap:operation soapAction="http://tempuri.org/getAllEmployees" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AccessServiceAPISoap12" type="tns:AccessServiceAPISoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddAnimal">
      <soap12:operation soapAction="http://tempuri.org/AddAnimal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCampaign">
      <soap12:operation soapAction="http://tempuri.org/AddCampaign" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddEmployee">
      <soap12:operation soapAction="http://tempuri.org/AddEmployee" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllAnimals">
      <soap12:operation soapAction="http://tempuri.org/getAllAnimals" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllCampaigns">
      <soap12:operation soapAction="http://tempuri.org/getAllCampaigns" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllEmployees">
      <soap12:operation soapAction="http://tempuri.org/getAllEmployees" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AccessServiceAPI">
    <wsdl:port name="AccessServiceAPISoap" binding="tns:AccessServiceAPISoap">
      <soap:address location="https://localhost:44390/AccessServiceAPI.asmx" />
    </wsdl:port>
    <wsdl:port name="AccessServiceAPISoap12" binding="tns:AccessServiceAPISoap12">
      <soap12:address location="https://localhost:44390/AccessServiceAPI.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>